html {
  width: 100%;
}
html body {
  width: 100%;
}
html,
body,
p,
ul,
dl,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.arrow-left,
.arrow-right,
.arrow-left-prev,
.arrow-right-next {
  font-size: 18px;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 45px;
  z-index: 100;
  cursor: pointer;
}
img {
  display: block;
  border: 0;
}
